pytest>=5.4.0
pytest-pep8
pytest-cov
pytest-asyncio
pytest-xdist

mock>=4.0.1

coverage
coveralls

twine
pip
setuptools
wheel

pur

pylint

ccxt==4.3.56   # use to run test using a specific version of ccxt

# async http requests
# avoid v3.10.0 as it is failing CI (<class 'RuntimeError'>: aiodns needs a SelectorEventLoop on Windows. See more: https://github.com/saghul/aiodns/issues/86)
aiohttp==3.9.5